**Estudiantes**


*   Camila Andrea Urrego Calderon
*   Juan Diego Cuadros Rodriguez

In [2]:
import cvxpy as cp
import pandas as pd
import numpy as np
from scipy.optimize import minimize
from scipy.optimize import linprog

Punto 1

In [3]:
df = pd.DataFrame({' ' : ['materia prima','mano de obra','Capital', 'Unidades',],
        'Product A' : [1, 2, 1, 100],
        'Product B' : [1, 4, 2, 150],
        'Total' : [500, 1000, 2000, ""]})
df

                  Product A  Product B Total
0  materia prima          1          1   500
1   mano de obra          2          4  1000
2        Capital          1          2  2000
3       Unidades        100        150

Scipy

In [4]:
c = np.array([3,5])

A = np.array([[1,1],
              [2,4],
              [1,2]])

b = np.array([500,1000,2000])

bounds = [(100,None),
          (150,None)]

In [5]:
sol = linprog(-c, A_ub=A, b_ub=b, bounds=bounds, method="revised simplex")
data = pd.DataFrame(np.array(sol.x))

<ipython-input-5-27dca58c898f>:1: DeprecationWarning: `method='revised simplex'` is deprecated and will be removed in SciPy 1.11.0. Please use one of the HiGHS solvers (e.g. `method='highs'`) in new code.
  sol = linprog(-c, A_ub=A, b_ub=b, bounds=bounds, method="revised simplex")

In [6]:
data.columns = ["Producción"]
data.index = ["Producto A", "Producto B"]
data

            Producción
Producto A       200.0
Producto B       150.0

Punto 2

Scipy

In [7]:
c2 = np.array([0.1,0.15,0.16,0.08])

A2 = np.array([[0.5,0.3,0.25,0.60],
              [0.3,0.1,0.4,0.2],
              [0.2,0.6,0.35,0.2]])

D = np.array([[1,1,1,1]])

d = np.array([1])

b2 = np.array([0.35,0.3,0.15])

In [8]:
sol2 = linprog(-c2,A_ub = -A2, b_ub = -b2, A_eq = D, b_eq = d, method = "simplex")
data_2 = pd.DataFrame(sol2.x*100)

<ipython-input-8-00e59497fac2>:1: DeprecationWarning: `method='simplex'` is deprecated and will be removed in SciPy 1.11.0. Please use one of the HiGHS solvers (e.g. `method='highs'`) in new code.
  sol2 = linprog(-c2,A_ub = -A2, b_ub = -b2, A_eq = D, b_eq = d, method = "simplex")

In [9]:
data_2.columns = ['Inversion']
data_2.index = ["Fondo 1","Fondo 2","Fondo 3","Fondo 4"]
data_2.T

           Fondo 1    Fondo 2    Fondo 3    Fondo 4
Inversion      0.0  15.789474  57.894737  26.315789

Punto 3

Scipy

In [12]:
rate1_3 = (1+0.01)
rate2_3 = (1+0.02)
rate3_3 = (1+0.003)

In [13]:
c3 = np.array([0,0,0,0,0,0,0,0,0,0,0,0,0,1])

A3 = np.array([[1,0,0,0,0,1,0,0,-1,0,0,0,0,0],
               [-rate1_3,1,0,0,0,0,1,0,rate3_3,-1,0,0,0,0],
               [0,-rate1_3,1,0,0,0,0,1,0,rate3_3,-1,0,0,0],
               [0,0,-rate1_3,1,0,-rate2_3,0,0,0,0,rate3_3,-1,0,0],
               [0,0,0,-rate1_3,0,0,-rate2_3,0,0,0,0,rate3_3,-1,0],
               [0,0,0,0,-rate1_3,0,0,-rate2_3,0,0,0,0,rate3_3,-1]])

b3 = np.array([150,100,-200,200,-50,-300])

bounds3 = [(0,100),
          (0,100),
          (0,100),
          (0,100),
          (0,100),
          (0,None),
          (0,None),
          (0,None),
          (0,None),
          (0,None),
          (0,None),
          (0,None),
          (0,None),
          (0,None)]

sol_3 = linprog(-c3, A_eq = A3, b_eq = b3, bounds = bounds3, method = "simplex" )

data3 = pd.DataFrame(sol_3.x)

<ipython-input-13-d2fa6ede5c59>:27: DeprecationWarning: `method='simplex'` is deprecated and will be removed in SciPy 1.11.0. Please use one of the HiGHS solvers (e.g. `method='highs'`) in new code.
  sol_3 = linprog(-c3, A_eq = A3, b_eq = b3, bounds = bounds3, method = "simplex" )

In [14]:
data3.columns = ['Saldos']
data3.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
Saldos,0.0,50.980392,0.0,0.0,0.0,150.0,49.019608,203.434364,0.0,0.0,351.944167,0.0,0.0,92.496949

CVX

In [16]:
n3 = len(c3)
x3 = cp.Variable(n3)
objetive3 = cp.Minimize(-c3.T@x3)
contrains3 = [A3@x3 == b3, x3>=0, x3>=0]

prob3 = cp.Problem(objetive3, contrains3)

result3 = prob3.solve(solver=cp.GLPK_MI)

sol_33 = pd.DataFrame(x3.value)

sol_33.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,-0.0,50.980392,-0.0,-0.0,-0.0,150.0,49.019608,203.434364,-0.0,-0.0,351.944167,-0.0,-0.0,92.496949

Punto 4

In [17]:
df = pd.DataFrame({' ' : ['inflows','outflows','total'],
        'Sem 1' : [500,350,150],
        'Sem 2' : [300,400,-100],
        'Sem 3' : [200,250,-50],
        'Sem 4' : [400,200,200]})
df

             Sem 1  Sem 2  Sem 3  Sem 4
0   inflows    500    300    200    400
1  outflows    350    400    250    200
2     total    150   -100    -50    200

In [18]:
fqw  = np.array([0,0,0,0,0,0,0,1])
rn_4 = (1+0.0001)**7

In [19]:
A_4 = np.array([[1,0,0,0,-1,0,0,0],
                [0,1,0,0,rn_4,-1,0,0],
                [0,0,1,0,0,rn_4,-1,0],
                [0,0,0,1,0,0,rn_4,-1]])

b_4 = np.array([[150,-100,-50,200]])

#r
positivos = [(0,None) for i in range(4)]

sol_4 = linprog(fqw, A_ub=A_4, b_ub =-b_4, method="simplex")
data_4 = pd.DataFrame(sol_4.x)

<ipython-input-19-6d61ec908190>:11: DeprecationWarning: `method='simplex'` is deprecated and will be removed in SciPy 1.11.0. Please use one of the HiGHS solvers (e.g. `method='highs'`) in new code.
  sol_4 = linprog(fqw, A_ub=A_4, b_ub =-b_4, method="simplex")

In [20]:
data_4.columns = ["Flujo Neto"]
data_4

   Flujo Neto
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4  150.000000
5   50.105032
6    0.140116
7  200.140214

Punto 5

In [29]:
budget = 10000
labor = 1000

c5 = np.array([0,0,0,5,8,10])

A5 = np.array([[0,0,0,0,1,0],
               [0,1,0,0,0,0],
               [0,0,1,0,0,0],
               [0,0,0,1,0,0],
               [0,0,0,0,0,1]])

b5 = np.array([2000,300,250,2000,2000])

D5 = np.array([[0,0,0,1,1,1],[1,1,1,0,0,0]])

d5 = np.array([10000,1000])

In [32]:
sol5 = linprog(-c5, A_ub = A5, b_ub = b5, A_eq = D5, b_eq = d5, method='simplex')

pd.DataFrame(sol5.x).T

<ipython-input-32-c7fb09863c27>:1: DeprecationWarning: `method='simplex'` is deprecated and will be removed in SciPy 1.11.0. Please use one of the HiGHS solvers (e.g. `method='highs'`) in new code.
  sol5 = linprog(-c5, A_ub = A5, b_ub = b5, A_eq = D5, b_eq = d5, method='simplex')

       0      1      2       3       4       5
0  450.0  300.0  250.0  2000.0  2000.0  2000.0

Punto 6

In [35]:
# Costos variables del transporte
c6 = np.array([[4,5,6,8,10],
              [6,4,3,5,8],
              [9,7,4,3,4]])

# Capacidad Maxima para almacenar
b6 = np.array([500,500,500])

# Costos fijos por cada planta
cf = np.array([1000,1000,1000])

# Demanda
b66 = np.array([80,270,250,160,180])

# variables
x6 = cp.Variable((3,5), nonneg = True)
# Variable de cerrar o abrir una planta
y6 = cp.Variable(3,boolean = True)
# Minimización
objetivo6 = cp.Minimize(cp.sum(cp.multiply(c6,x6))+cp.sum(cp.multiply(cf,y6)))

res6 = [cp.sum(x6[0,:])<=500*y6[0],cp.sum(x6[1,:])<=500*y6[1],
        cp.sum(x6[2:])<=500*y6[2],cp.sum(x6[:,0])==b66[0], 
        cp.sum(x6[:,1])==b66[1],cp.sum(x6[:,2])==b66[2],
        cp.sum(x6[:,3])==b66[3],cp.sum(x6[:,4])==b66[4],
        cp.sum(y6)==2]

prob5 = cp.Problem(objetivo6,res6)

result6 = prob5.solve()

data6 = pd.DataFrame(x6.value)

data6

      0      1      2      3      4
0  -0.0   -0.0   -0.0   -0.0   -0.0
1  80.0  270.0  150.0   -0.0   -0.0
2  -0.0   -0.0  100.0  160.0  180.0